@font-face {
    font-family: 'MinecraftRegular';
    src: url('../fonts/MinecraftRegular.otf');
}

@font-face {
    font-family: 'MinecraftEvengings';
    src: url('../fonts/MinecraftEvenings.otf');
}

@mixin wide-img {
    width: 100%;
    background-position: center 30%;
}

@mixin nav-link {
    color: inherit;
    font-family: MinecraftEvengings, Arial, Helvetica, sans-serif;
    font-size: 36px;
}

@mixin trans {
    height: 100px;
    width: 100%;
}

::-webkit-scrollbar {
    display: none;
}

:root {
    --background-colour: #1F2833;
    --hl-colour: teal;
    --footer-colour: #0F1419;
}

body {
    background-color: var(--background-colour);
    color: white;
    font-family: MinecraftRegular, Arial, Helvetica, sans-serif;
    margin: 0;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#wrapper {
    min-height: 100vh;
    position: relative;

    a {
        text-decoration: none;
    }

    #content-wrapper {
        padding-bottom: 259px;

        h1 {
            text-align: center;
        }

        h3 {
            margin-bottom: 0;
        }

        #nav-overlay {
            display: none;
        }

        #header {
            @include wide-img;
            background-image: url('../images/header.png');
            height: 450px;
            position: relative;

            #nav-bar {
                display: flex;
                position: absolute;
                width: 100%;

                #mobile-button {
                    display: none;
                }
            
                .nav-item {
                    padding-left: 8px;
                    padding-top: 20px;

                    &:first-child {
                        padding-left: 20px;
                    }
            
                    a {
                        @include nav-link;
                        padding: 8px;

                        img {
                            padding-right: 8px;
                            vertical-align: middle;
                        }
                    }
                }
            
                .nav-right {
                    padding-right: 20px;
                    position: absolute;
                    right: 0;
                }
            }
        }
    
        #middle {
            @include wide-img;
            background-image: url('../images/middle.png');
            height: 550px;
            position: relative;
        }

        #plugins-mods {
            p {
                margin-top: 0;
            }
        }

        // Center player cards instead of using width
        .player-card {
            display: inline-block;
            text-align: center;
            width: 25%;
            text-decoration: none;
            overflow: hidden;
            color: inherit;
            margin: auto;
            margin-bottom: 16px;
        
            img {
                margin: auto;
                margin-bottom: 8px;
                display: block;
                border-radius: 5%;
            }
        }

        .stats-table {
            text-align: center;
            margin: auto;
            width: 50%;
        
            img {
                vertical-align: middle;
                max-width: 16px;
                max-height: 16px;
            }
        }
    }

    #map-content {
        margin: 2em auto;
        max-width: 100vw;
        width: 45em;

        #map {
            border-radius: 15px;
            width: 100%;
            height: 45em;
        }
    }

    #footer {
        bottom: 0;
        height: 259px;
        position: absolute;
        width: 100%;

        #trans-footer {
            @include trans;
            background-image: url('../images/trans-footer.png');
        }

        #footer-content {
            background-color: var(--footer-colour);
            display: flex;
            justify-content: center;
            padding: 2em 0;

            div {
                display: inline-block;
                margin: 0 5em;

                h4 {
                    margin-bottom: 0;
                    margin-top: 0;
                }

                ul {
                    list-style: none;
                    margin-bottom: 0;
                    margin-top: 0;
                    padding: 0;
                    
                    li {
                        a {
                            color: inherit;

                            &:hover {
                                color: var(--hl-colour);
                            }
                        }
                    }
                }
            }
        }
    }

    .content {
        margin: 2em auto;
        max-width: 100vw;
        width: 40em;

        #error {
            display: block;
            margin: auto;
        }
    }

    .center {
        text-align: center;
    }

    .trans-bot {
        @include trans;
        background-image: url('../images/trans-bot.png');
        bottom: 0;
        position: absolute;
    }

    .trans-top {
        @include trans;
        background-image: url('../images/trans-top.png');
        position: absolute;
    }

    .hl {
        color: var(--hl-colour);
    }
}

@media screen and (max-width: 768px) {
    #wrapper {
        #content-wrapper {
            h1, h3, p {
                margin-left: 2em;
                margin-right: 2em;
            }

            #nav-overlay {
                background-color: rgba(0, 0, 0, 0.75);
                display: none;
                height: 100%;
                margin: 0;
                position: fixed;
                width: 100%;
                z-index: 998;

                #mobile-nav {
                    margin-left: 20px;
                    margin-top: 20px;
            
                    a {
                        @include nav-link;
                        display: block;
                        max-width: 6em;
            
                        img {
                            padding-right: 8px;
                            vertical-align: middle;
                        }
                    }
                }
            }
        
            #header {
                #nav-bar {
                    #mobile-button {
                        display: block;
                        z-index: 999;

                        img {
                            height: 48px;
                            transition: 1s;
                            width: 48px;
                    
                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }

                    .nav-item {
                        display: none;
                    }
                }
            }

            .player-card {
                display: block;
                // Fix margin between?
                // Do we maybe wanna keep 1 stacked onto each other?
                width: 50%;
            }

            // Footer needs to be displayer under each other instead of next. Text will go under icon on mobile othewise
        }
    }
}